///////////////////////////
////text color
$text-color: #3d37f1;
$text-color2: #4b647e;
$text-color3: #ffff;
$text-color4: #534d4d;
$text-color5: #5a5454;
$text-color6: #747474;
$text-color7: #969ca2;
$text-color8: rgba(202, 138, 138, 0.24);
$text-color9: #d6d6d6;
$text-color10: #8f8bff;
///////////////////////////
////background color
$bg-color: #ff8923;
$bg-color2: #3d37f1;
$bg-color3: #3d37f1ab;
$bg-color4: #fbba77;
$bg-color5: #dfa871;
$bg-color5-1: rgba(223, 168, 113, 0.411);
$bg-color6: #41eae3;
$bg-color7: #2293b7;
$bg-color7-1: rgba(34, 148, 183, 0.411);
$bg-color8: #69529f;
$bg-color9: #463864;
$bg-color9-1: rgba(70, 56, 100, 0.411);
$bg-color10: #4386d2;
$bg-color11: #0962c5;
$bg-color11-1: rgba(9, 97, 197, 0.411);
$bg-color12: #a5a2f6;
$bg-color13: #564fd6;
$bg-color13-1: rgba(86, 79, 214, 0.411);
$bg-color14: #ff8088;
$bg-color15: #984141;
$bg-color15-1: rgba(152, 65, 65, 0.411);
$bg-color16: #fbfcfd;
$bg-color17: #fff;
$bg-color18: #f8f8f8;
$bg-color19: #af94fd;
$bg-color20: #6651f3;
$bg-color21: #ff95a5;
$bg-color22: #ff62a3;
$bg-color23: #fbc9a4;
$bg-color24: #ff884a;
$bg-color25: #0c0f32;
$bg-color26: rgba(197, 195, 249, 0.15);
$bg-color27: #131b7c;
$bg-color28: #f36f21;
$bg-color29: #9997df;
$bg-color30: #ffba3f;
$bg-color31: #e66e6e;
$bg-color32: #66659f;
$bg-color33: #f17637;
$bg-color34: #37f1be;
$bg-color35: #f137e5;
$bg-color36: #f13d37;
$bg-color37: #0a315a;
$bg-color38: #5f58f2;
$bg-color39: #8581f4;
//////////////////////////
/////boder color
$boder-color: #fff;
$boder-color2: #707070;
$box-shadow: rgba(0, 0, 0, 0.06);
$btn-shadow: hsla(242, 87%, 58%, 0.205);